* {
    box-sizing : border-box;
    padding: 0;
    margin: 0;
}
body {
    display :flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    margin-top: 80px;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 20px;
    background: rgb(204,12,83);
    background: linear-gradient(90deg, rgba(204,12,83,1) 3%, rgba(242,73,135,1) 30%, rgba(217,156,178,1) 71%);
}
.container {
    margin: 0 auto;
    min-width: 100vh;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
header {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    font-size: 50px;
    font-weight: 700;
    border-bottom: 1px solid #403E3E;
    margin-bottom: 20px;
    text-shadow:1px 1px 1px #403E3E;
    color: whitesmoke;
}
.input {
    width: 700px;
    display :flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#counter {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
h1 {
    margin-bottom: 20px;
}
.buttons {
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
#removeFinishedTasksButton {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}
button {
    border :none;
    color: white;
    padding: 15px 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    text-shadow: 1px 1px 1px #403E3E;
    background-color: #F24987;
    transition: .5s;
    cursor: pointer;
}
input, button {
    outline : none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px ;
    font-size: 20px;
    text-align: center;
}
input {
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    color: #BF0436;
    padding: 15px 5px;
}
li > h1, span{
    color: whitesmoke;
    text-shadow: 1px 1px 1px #403E3E;
}
.completed {
    color: #403E3E;
}